<div class="navContainer">
    <div class="logo">Product Mania</div>
    <div class="nav-menus">
      <ul class="navItems">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li>
          <a routerLink="/productType" routerLinkActive="active">Products Type</a>
        </li>
        <li>
          <a routerLink="/suppliers" routerLinkActive="active">Supplier</a>
        </li>
      </ul>
    </div>
</div>

  
