<div class="formContainer">
    <form class="addProductForm">
        <mat-form-field class="inputFullWidth"appearance="outline">
            <input matInput placeholder="Enter Product Name">
        </mat-form-field>
        <mat-form-field class="inputFullWidth"appearance="outline">
            <mat-select placeholder="Choose Product Types">
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="inputFullWidth"appearance="outline">
            <mat-select placeholder="Select Supplier">
                <mat-option value="one">Supplier 1</mat-option>
                <mat-option value="two">Supplier 2</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
